.terraform
.terraform.lock.hcl
lambda/generar_informes/node_modules
lambda/generar_informes/package-lock.json
lambda/generar_informes/package.json
terraform.tfstate.backup
terraform.tfstate
terraform/secret.tfvars
*.zip
secrets.tfvars
*.auto.tfvars